@import url(style.css);


/* FUNDO DA PÁGINA */

body{
    background-image: linear-gradient(
        rgba(242, 140, 40, 0.20),
        rgba(255, 180, 92, 0.20)
    );

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ÁREA PRINCIPAL */

main{
    width: 1142px;
    height: 661px;

    display: flex;

    background-color: white;

    box-shadow: 0 0 25px rgba(201, 104, 22, 0.25);

    border-radius: 25px;
}


/* =========================
   LADO ESQUERDO - LOGIN
========================= */

.sessao-login{
    width: 632px;
    height: 661px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 30px;
}


/* TÍTULOS */

.area-titulo{
    text-align: center;

    margin-bottom: 35px;
}


.area-titulo h1{
    color: var(--laranja-principal);

    font-size: 36px;
    font-weight: 600;

    padding-bottom: 5px;
}


.area-titulo h1 span{
    color: var(--laranja-escuro);

    font-size: 36px;
    font-weight: 800;
}


.area-titulo h2{
    color: var(--azul-escuro);

    font-size: 22px;
    font-weight: 400;
}


/* =========================
   FORMULÁRIO
========================= */

#form-login{
    width: 434px;

    display: flex;
    flex-direction: column;

    gap: 5px;
}


/* LABELS */

#form-login label{
    color: var(--laranja-escuro);

    font-size: 17px;
    font-weight: 500;
}


/* CAMPOS */

#form-login input{
    height: 42px;

    padding: 5px 12px;

    font-size: 16px;

    border: 1px solid #dddddd;

    border-radius: 15px;

    margin-bottom: 15px;
}


/* =========================
   LEMBRAR SENHA
========================= */

.lembrar-senha{
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 5px;
}


.lembrar-senha input{
    width: auto;
    height: auto;

    margin: 0;
}


.lembrar-senha label{
    color: var(--texto-suave);

    font-size: 14px;
    font-weight: 400;
}


/* =========================
   BOTÃO
========================= */

#btn-acessar{
    margin-top: 15px;

    padding: 13px;

    background-color: var(--laranja-principal);

    color: white;

    border: none;
    border-radius: 25px;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}


#btn-acessar:hover{
    background-color: var(--laranja-escuro);
}


/* TEXTO ABAIXO DO BOTÃO */

.texto-conta{
    margin-top: 20px;

    color: var(--texto-suave);

    text-align: center;

    font-size: 15px;
}


/* =========================
   LADO DIREITO - IMAGEM
========================= */

.sessao-imagem{
    width: 510px;
    height: 661px;

    display: flex;

    justify-content: center;
    align-items: center;
}


.sessao-imagem img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 0 25px 25px 0;
}
a{
    text-decoration: none;
    color: var(--laranja-escuro);
}